.col-md-12 {
  background-color: #e74c3c;
  color: white;
}

h1{
  font-family: 'Boogaloo', cursive;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#menu li {
  display: inline;
  padding: 10px;
}

#s1 {
  margin-left: 50px;
}

#map {
    border-radius: 10px;
    border: 2px solid #e74c3c;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 1340px;
    height: 480px;
}
